

body {
  background: grey;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.wrapper {
  position: relative;
  margin: 150px 30%;
}

.reg-form {
  background: rgb(55, 55, 55);
  width: 800px;
  padding: 10px 0;
  
}

.input-wrapper {
  min-width: 750px;
}

.form__label {
  display: inline-block;
  width: 5em;
  padding: 7px;
  margin: 4px;
}

.form__input-text {
  width: 200px;
  color: white;
  font-size: 18px;
  background: #464646;
  border: none;
  padding: 4px 10px;
}

.form__input-text:hover, .form__input-text:focus {
  width: 300px;
  background: #5a5a5a;
 }

.form__input-text:focus {
  color: black;
  background: #fff;
  outline: none;
}

.form__input-text:focus + .tooltip {
  color: red;
}



.show-help {
  background: rgba(60, 60, 60, 1);
  color: gray;
  border: none;
  width: 120px;
  height: 40px;
  margin: 40px 0 0;
  font-size: 18px;
  outline: none;

}


.show-help:hover {
  background: rgba(70, 70, 70, 1);
  color: white;
}

.show-help:active {
  background: rgba(40, 40, 40, 1);
  transition: all .1s;
}

.tooltip {
  color: gray;
  position: relative;
  display: inline-block;
  line-height: 24px;
  opacity: 0;
  margin-left: -50px;
  margin-bottom: -4px;
  overflow: hidden;
  transition: all .5s;
}

.tooltip--show {
  margin-left: 20px;
  opacity: 1;
}

.tooltip--hide {
  margin-bottom: -20px;
  opacity: 0;
}
   






