body {

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

 input {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;

}  

button.help {
  margin: 5px;
  padding: 5px;
 
}

em.help:hover {
 color: #844;
 cursor: pointer;
}

 








