
.registration{
    margin: 0 auto;
    border:1px solid #2DC4FF; 
    border-radius: 15px;
    width: 520px;
    padding: 20px;

.named{
    display: inline-block;
}

.helpText{
    display: none;
}





    

   






